@import './_variables.scss';


.success-message {
    color: $green-color;
    font-size: 14px;
    margin-top: 10px;
}


.adminuser--page {
  background-color: $background-light-color;
  min-height: 100vh;
}

.adminuser--back {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}

.adminuser--title {
  margin-bottom: 30px;
}


//avatars small

.avatar-rat__small {
  width: 40px;
  object-fit: cover;
  object-position: -15px -2px;
}

.avatar-cacaotes__small {
  width: 30px;
  object-fit: cover;
  object-position: -4px -1px;
}

.avatar-cat__small {
  width: 40px;
  object-fit: cover;
  object-position: 2px 1px;
}

.avatar-dog__small {
  width: 50px;
  object-fit: cover;
  object-position: -1px 2px;
}

.avatar-rabbit__small {
  width: 33px;
  object-fit: cover;
  object-position: 4px 1px;
}


//buttons

.adminuser-reset--btn {
  background-color: transparent;
  border: 1px solid $green-color;
  color: $green-color;
  padding: 6px 10px;
  border-radius: 40px;
  cursor: pointer;

    &:hover {
        background-color: $green-color;
        color: $background-light-color;
    }
}

.adminuser--btn {
  display: flex;
  gap: 17px;
  cursor: pointer;
}

.view-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover {
    color: $green-color;
  }
}

.edit-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;

    &:hover {
        color: $green-color;
    }
}

.adminuser-save--btn {
    background-color: $green-color;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    &:hover {
      background-color: $background-light-color;
      color: $green-color;
      border: 1px solid $green-color;
    }
}


//inputs

.adminuser--editinginput {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid $brown-color;
  background-color: $background-light-color;
  padding: 5px 4px;
  font-family: $font-family;

}



