//Audio


.audio-controls .volume-bar,
.audio-controls .control-btn {
  display: none; 
}

.audio-controls:hover .volume-bar,
.audio-controls:hover .control-btn {
  display: block; 
}

.audio-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.controlers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}

.audio-player {
    position: fixed;
    right: 30px;
    transition: transform 0.3s ease;
}

.audio-player:hover {
    transform: translateX(-40px); 
}

.play-pause-btn {
    position: relative;
  }


.volume-bar {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    width: 100px;
    height: 8px;
    border-radius: 40px;
    background: $primary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: $yellow-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

input[type=range]:focus {
    outline: none;
    border: none;
}


.control-btn {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.btn--el {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}



//responsive

@media (min-width: 768px) {
    .audio-player {
        right: 40px;
    }
}