@import './_variables.scss';


.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.avatar--img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: $primary-color;
    overflow: hidden;

    &.selected {
        border: 2px solid $yellow-color;
    }
}

.rat-avatar {
    width: 82px;
    object-fit: cover;
    object-position: -35px -7px;
}

.cacaotes-avatar {
    width: 60px;
    object-fit: cover;
    object-position: -11px -4px;
}

.cat-avatar {
    width: 80px;
    object-fit: cover;
    object-position: 2px -1px;
}

.dog-avatar {
    width: 97px;
    object-fit: cover;
    object-position: -4px 2px;
}

.rabbit-avatar {
    width: 57px;
    object-fit: cover;
    object-position: 4px 1px;
}

.avatar--label {
    margin-bottom: 3px;
    text-align: center;
}

.settings-avatar {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.settings-avatar {
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
}

.avatar--title__small {
    margin-bottom: 5px;
}


//avatars general homepage

.general-avatar {
    width: 67px;
    object-fit: cover;
    object-position: -2px 3px;
}

.avatar-rat__general {
    width: 67px;
    object-fit: cover;
    object-position: -26px -6px;
}

.avatar-cacaotes__general {
    width: 51px;
    object-fit: cover;
    object-position: -9px -2px;
}

.avatar-cat__general {
    width: 67px;
    object-fit: cover;
    object-position: 2px 1px;
}

.avatar-dog__general {
    width: 78px;
    object-fit: cover;
    object-position: -2px 3px;
}

.avatar-rabbit__general {
    width: 53px;
    object-fit: cover;
    object-position: 5px 1px;
}



//avatars profil gamer

.general-avatar__big {
    width: 100px;
    object-fit: cover;
    object-position: 0px 0px;
}

.avatar-rat__big {
    width: 108px;
    object-fit: cover;
    object-position: -44px -9px;
}

.avatar-cacaotes__big {
    width: 86px;
    object-fit: cover;
    object-position: -20px -4px;
}

.avatar-cat__big {
    width: 106px;
    object-fit: cover;
    object-position: 1px 0px;
}

.avatar-dog__big {
    width: 140px;
    object-fit: cover;
    object-position: -8px 2px;
}

.avatar-rabbit__big {
    width: 80px;
    object-fit: cover;
    object-position: 8px 1px;
}


//responsive

@media (min-width: 768px) {
    .avatar--label {
        text-align: left;
    }

    .settings-avatar {
        display: flex;
        gap: 20px;
        text-align: center;
    }
    

}
