
.container {
    //max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .map-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  .score-container {
    position: relative;
    padding: 40px 40px;
  }

  .profil-container {
    position: relative;
    padding: 30px 40px;
  }


  //responsive

  @media (min-width: 769px) {
    .container {
      padding: 0 40px;
    }


  }
