
.container {
    //max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .map-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  .score-container {
    position: relative;
    padding: 40px 40px;
  }

  .profil-container {
    position: relative;
    padding: 30px 40px;
  }

  .login-container {
    position: relative;
    padding: 40px 40px;
  }

  .settings-container {
    position: relative;
    padding: 30px 40px;
  }

  .avatars-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }


  //responsive

  @media (min-width: 768px) {
    .container {
      padding: 0 40px;
    }

    .avatars-container {
      justify-content: left;
    }


  }
