@import './_variables.scss';


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.login-page {
  background-color: $background-light-color;
  height: 100vh;
}

.login--title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login--label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55%;
}

.login--label input {
  border-bottom: 1px solid $brown-color;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $background-light-color;
}

.primary--btn {
  background-color: $green-color;
  color: $background-light-color;
  border: none;
  padding: 8px 40px;
  border-radius: 30px;
  cursor: pointer;
  font-family: $font-family;
  font-size: 16px;
}

.secondary--btn {
    background-color: $background-light-color;
    color: $green-color;
    border: 1px solid $green-color;
    padding: 8px 40px;
    border-radius: 30px;
    cursor: pointer;
}

.forget--btn {
  color: $brown-color;
  font-size: 14px;
  margin-top: -10px;
}

.p-opacity {
  color: $secondary-color;
  opacity: 0.5;
}


//responsive

@media (min-width: 769px) {

  form {
    gap: 30px;
    align-items: flex-start;
  }

  .login-page {
    height: auto;
  }

  .login--label {
    width: 100%;
  }

  .login--title {
    justify-content: left;
  }

  .primary--btn {
    padding: 8px 22px;
    margin: 0 auto;
    //margin-bottom: 30px;
  }

  .secondary--btn {
    color: $brown-color;
    cursor: pointer;
    border: none;
    padding: 0;
  }

  .secondary--btn__small {
    color: $secondary-color;
    text-decoration: underline;
    
  }

  .forget--btn {
    margin-top: -20px;
  }

  .register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: auto;
  }

}