@import './_variables.scss';


.register-page {
  background-color: $background-light-color;
  min-height: 100vh;
}

.register--form {
  gap: 30px;
}

.register--title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.register--label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.register--label input {
  border-bottom: 1px solid $brown-color;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $background-light-color;
  padding: 5px 4px;
  font-family: $font-family;
}

input:focus {
  outline: none;
  border-bottom: 1.5px solid $yellow-color;
}


//buttons

.register--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav--btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}



//responsive

@media (min-width: 768px) {

  .register-page {
    min-height: auto;
  }

  .register--form {
    align-items: flex-start;
    width: 100%;
  }

  .register--label {
    width: 100%;
  }

  .register--title {
    justify-content: left;
  }


}