@import './_variables.scss';


.register-page {
  background-color: $background-light-color;
  min-height: 100vh;
}

.register--title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.register--label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.register--label input {
  border-bottom: 1px solid $brown-color;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $background-light-color;
  padding: 5px 4px;
}


//buttons




.backbutton {
  background-color: $background-light-color;
  color: $green-color;
  border: 1px solid $green-color;
  padding: 8px 40px;
  border-radius: 30px;
  cursor: pointer;
}

.registerbutton {
  background-color: $green-color;
  color: $background-light-color;
  border: none;
  padding: 8px 34px;
  border-radius: 30px;
  cursor: pointer;
  font-family: $font-family;
  font-size: 16px;

}


.loginbutton {
  background-color: $green-color;
  color: $background-light-color;
  border: none;
  padding: 8px 34px;
  border-radius: 30px;
  cursor: pointer;
  font-family: $font-family;
  font-size: 16px;
}





//responsive

@media (min-width: 769px) {

}