

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.th, .td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th {
    border-bottom: 1.5px solid $brown-color;

}

.score-icon--table {
    width: 31px;
    height: 22px;
}