@import './_variables.scss';

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.th, .td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th {
    border-bottom: 1.5px solid $brown-color;
}

.score-icon--table {
    width: 31px;
    height: 22px;
}


.adminuser-table td.editable-cell {
    width: 250px;
    overflow: hidden;
    padding-right: 40px;
}

.adminuser-table td.password-column, th.password-column {
    padding-left: 100px;
}

.adminuser-table input[type="text"],
.adminuser-table input[type="email"] {
    width: 100%; 
    box-sizing: border-box;
}