@import './_variables.scss';



//Sections

.adminuser--topsection {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
  align-items: center;
}

.profil--section {
  display: flex;
  gap: 60px;
}

.profil--section-left {
  width: 45%;
}

.profil--section-right {
  width: 45%;
}

.separation-bar {
  width: 1px;
  background-color: $brown-color; 
}



//buttons

.delete--btn {
  background-color: $background-light-color;
  color: $red-color;
  border: 1px solid $red-color;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: $red-color;
    color: $background-light-color;
  }
}

.adminuser-reset--btn {
  background-color: $background-light-color;
  color: $green-color;
  border: 1px solid $green-color;
  padding: 6px 15px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
}

.adminuser--btn__right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.adminuser-save--btn {
  background-color: $green-color;
  color: $background-light-color;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.adminuser-cancel--btn {
  background-color: $background-light-color;
  color: $green-color;
  border: 1px solid $green-color;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    color: $brown-color;
    border: 1px solid $brown-color;
  }
}



//Avatars

.avatar-choose {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.user--avatar__big {
  width: 94px;
  height: 94px;
}



//form inputs

.adminuser--form__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.adminuser--form__left input {
  border-bottom: 1px solid $brown-color;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $background-light-color;
  padding: 5px 4px;
  font-family: $font-family;
}

.adminuser--label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adminuser--form__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adminuser--form__right input {
  border-bottom: 1px solid $brown-color;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $background-light-color;
  padding: 5px 4px;
  font-family: $font-family;
}

input:focus {
  outline: none;
  border-bottom: 1.5px solid $yellow-color;
}

.label-trees {
  width: 50%;
}

.adminuser--col {
  display: flex;
  gap: 20px;
}


//logs

.logs-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: $background-light-color;
}

.log--el {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log--el--center {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.log-filters {
  display: flex;
  gap: 15px;
}

.log-entries {
  background-color: $primary-color;
  color: black;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 700px;
}

.log-entry {
  display: flex;
  gap: 40px;
  justify-content: start;
}


.bold {
  font-weight: 700;
  margin-right: 6px;
}

.filter--btn {
  background-color: $primary-color;
  color: black;
  border: none;
  padding: 8px 20px;
  border-radius: 35px;
  cursor: pointer;

  &:hover {
    background-color: $green-color;
    color: $primary-color;
  }

  &:active {
    background-color: $green-color;
    color: $primary-color;
  }

  &:focus {
    background-color: $green-color;
    color: $primary-color;
  }
}

