
$primary-color: #ffffff;
$secondary-color: #000000;
$green-color: #577E72;
$yellow-color: #FDB730;
$background-light-color: #F8F3EE;
$red-color: #D72424;

//typography
$font-family: "Fuzzy Bubbles", sans-serif;