@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

@import './components/_variables.scss';
@import './components/_scrollbar.scss';

//components
@import './components/_button.scss';
@import './components/_header.scss';
@import './components/_footer.scss';
@import './components/_container.scss';
@import './components/_table.scss';
@import './components/_profil.scss';
@import './components/_login.scss';
@import './components/_register.scss';
@import './components/_forgot.scss';
@import './components/_settings.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $font-family;
  font-size: 16px;

  h1 {
    color: #000000;
  }
}

button {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
